.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: yellow;
    position: fixed;
    top: 0;
    z-index: 1;

    .header-content {
        width: 100%;
        max-width: 1440px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: grey; */
        padding: 0 8px;

        .left-header {
            display: flex;
            align-items: center;
            gap: 8px;
            img {
                width: 32px;
                height: 32px;
            }
        }

        .search-section {
            /* background-color: red; */
            display: flex;
            align-items: flex-end;
            gap: 8px;

            .filter-btn {
                width: 70px;
                height: 26px;
                border: 2px solid black;
                border-radius: 40px;
                font-weight: bold;
                padding: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .filter-btn:hover {
                cursor: pointer;
            }

            img {
                width: 42px;
                height: 42px;
            }

            input {
                width: 180px;
                height: 30px;

                border: 2px solid black;
                border-radius: 40px;
                padding: 8px;

                font-size: 22px;
                font-weight: bold;
                line-height: 100%;
                text-align: center;
            }
        }
    }
}

main {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 60px - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: grey; */

    .load-txt {
        font-size: 64px;
        border-radius: 40px;
        border: 6px solid black;
        padding: 16px;
    }

    .content {
        width: 100%;
        height: 100%;
        min-height: calc(100vh - 60px - 50px);
        background-image: url("./assets/img/pamo-bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;

        .pkmn-container {
            width: 100%;
            max-width: 1440px;
            height: fit-content;
            /* height: calc(4 * 340px); */
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 8px;
            /* background-color: yellow; */
            padding: 8px;
            margin-top: 50px;

            .pkmn {
                /* display: flex; */
                /* flex-wrap: wrap; */
                width: 270px;
                height: fit-content;
                /* background-color: rgba(0, 0, 0, 0.65); */
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                border: 3px solid black;
                border-radius: 20px;
                overflow: hidden;
                color: white;

                .card-header {
                    width: 100%;
                    /* height: 50px; */
                    height: 60px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 16px;
                    flex-wrap: wrap;
                    /* background-color: green; */
                    background-color: rgba(0, 0, 0, 0.65);

                    p {
                        font-size: 15px;
                        font-weight: bold;
                    }

                    h2 {
                        font-size: 16px;
                    }
                }

                .pkmn-img {
                    width: 100%;
                    /* max-height: 200px; */
                    /* background-color: rgba(0, 0, 0, 0.2); */
                    border-top: 3px solid black;
                    border-bottom: 3px solid black;
                    display: flex;
                    justify-content: center;
                    padding: 4px 0;

                    img {
                        height: 150px;
                        width: 200px;
                        object-fit: contain;
                        background-color: rgba(0, 0, 0, 0.3);
                        border-radius: 50%;
                        padding: 8px;
                    }
                }

                .pkmn-types {
                    width: 100%;
                    height: 60px;
                    /* background-color: green; */
                    background-color: rgba(0, 0, 0, 0.65);
                    display: flex;
                    justify-content: center;
                    gap: 100px;
                    padding: 8px;
                }
            }

            .pkmn:hover {
                cursor: pointer;
            }
        }

        .load-btn {
            width: 300px;
            height: 90px;
            border: 8px solid black;
            border-radius: 42%;
            padding: 8px;
            margin-top: 20px;
            font-size: 40px;
            font-weight: bold;
            background-color: rgba(0, 0, 0, 0.4);
            color: rgba(247, 247, 107, 0.8);
        }
        .load-btn:hover {
            cursor: pointer;
        }
    }
}

.dialog.opened {
    width: 95%;
    max-width: 1000px;
    /* height: 88%; */
    /* max-height: 950px; */
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 40px;
    /* transition: all 300ms ease-in-out; */
    color: white;
    overflow: hidden;
    padding-bottom: 8px;

    .dialog-header {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 32px;
        border-bottom: 2px solid white;
        padding: 8px;

        .header-content {
            width: 92%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* background-color: grey; */

            .header-txt {
                width: 89%;
                height: 65px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                /* gap: 10px; */
                line-height: 120%;
                /* background-color: red; */
                padding: 0 8px;

                h2 {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    /* background-color: green; */
                    font-size: 40px;
                }

                p {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    /* background-color: green; */
                    font-size: 30px;
                    /* padding-top: 8px; */
                }
            }

            button {
                height: 32px;
                width: 40px;
                background-color: rgba(0, 0, 0, 0);
                border-style: none;
                border-radius: 50%;
                padding: 8px;
                display: flex;
                align-items: center;

                img {
                    height: 30px;
                    width: 32px;
                }
            }

            button:hover {
                cursor: pointer;
            }
        }

        .close-btn {
            color: white;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: rgba(0, 0, 0, 0);
            border-style: none;
            border-radius: 50%;
            padding: 8px;
            font-size: 24px;
        }
        .close-btn:hover {
            cursor: pointer;
        }
    }

    .dialog-img {
        width: 100%;
        /* height: 100%; */
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid white;
        overflow: hidden;
        /* gap: 32px; */
        padding-left: 40px;

        .p-img {
            width: 35%;
            object-fit: cover;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            padding: 8px;
            transform: translateY(10px);
        }

        .pkmn-types {
            height: 42%;
            width: 55%;
            display: flex;
            justify-content: center;
            gap: 32px;
            /* background-color: red; */
            padding-left: 100px;
        }
    }

    .dialog-data {
        width: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        /* flex-wrap: wrap; */
        padding: 8px;

        .stats {
            width: 50%;
            /* background-color: green; */
            /* display: flex; */
            text-align: center;
            /* flex-wrap: wrap; */
            /* padding-left: 40%; */
            border: 2px solid white;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
            padding-bottom: 8px;

            h3 {
                font-size: 48px;
                font-weight: bold;
                border-bottom: 2px solid white;
                border-collapse: collapse;
                padding: 8px;
            }

            p {
                font-size: 42px;
            }
        }

        .abilities {
            width: 50%;
            height: 489px;
            background-color: rgba(255, 255, 255, 0.1);
            text-align: center;
            border: 2px solid white;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            padding-bottom: 8px;
            overflow: hidden;

            h3 {
                font-size: 48px;
                font-weight: bold;
                border-bottom: 2px solid white;
                border-collapse: collapse;
                padding: 8px;
            }

            p {
                font-size: 42px;
            }
        }
    }

    .dialog-filter {
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        h2 {
            display: flex;
            justify-content: center;
            /* background-color: grey; */
            border-bottom: 2px white;
            padding: 8px;
            font-size: 38px;
        }

        .filter-inputs {
            /* width: 50%; */
            /* height: 200px; */
            display: flex;
            flex-direction: column;
            align-items: center;
            /* background-color: red; */
            padding: 8px;
            gap: 10px;

            input {
                height: 50px;
                width: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 32px;
                font-weight: bold;
                border-radius: 40px;
                padding: 8px;
            }
        }

        .filter-btn {
            padding: 8px;
            border-radius: 40px;
            font-weight: bold;
        }
        .filter-btn:hover {
            cursor: pointer;
        }
    }
}

.footer {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;

    .footer-content {
        width: 100%;
        max-width: 1440px;
        /* background-color: grey; */
        color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        font-size: 20px;

        a {
            color: yellow;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
            cursor: pointer;
            background-color: yellow;
            color: black;
        }
    }
}

.bg-normal {
    background-color: rgba(168, 167, 122, 0.8);
}
.bg-fighting {
    background-color: rgba(194, 46, 40, 0.8);
}
.bg-flying {
    background-color: rgba(169, 143, 243, 0.8);
}
.bg-poison {
    background-color: rgba(163, 62, 161, 0.8);
}
.bg-ground {
    background-color: rgba(226, 191, 101, 0.8);
}
.bg-rock {
    background-color: rgba(182, 161, 54, 0.8);
}
.bg-bug {
    background-color: rgba(166, 185, 26, 0.8);
}
.bg-ghost {
    background-color: rgba(115, 87, 151, 0.8);
}
.bg-steel {
    background-color: rgba(183, 183, 206, 0.8);
}
.bg-fire {
    background-color: rgba(238, 129, 48, 0.8);
}
.bg-water {
    background-color: rgba(99, 144, 240, 0.8);
}
.bg-grass {
    background-color: rgba(122, 199, 76, 0.8);
}
.bg-electric {
    background-color: rgba(247, 208, 44, 0.8);
}
.bg-psychic {
    background-color: rgba(249, 85, 135, 0.8);
}
.bg-ice {
    background-color: rgba(150, 217, 214, 0.8);
}
.bg-dragon {
    background-color: rgba(111, 53, 252, 0.8);
}
.bg-dark {
    background-color: rgba(112, 87, 70, 0.8);
}
.bg-fairy {
    background-color: rgba(214, 133, 173, 0.8);
}
