body::-webkit-scrollbar {
    display: none;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(253, 225, 0);
    position: fixed;
    top: 0;
    z-index: 1;

    .header-content {
        width: 100%;
        max-width: 1440px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px;

        .left-header {
            display: flex;
            align-items: flex-end;
            gap: 8px;

            img {
                width: 32px;
                height: 32px;
                background-color: rgb(192, 192, 192);
                border-radius: 50%;
            }
        }

        .search-section {
            display: flex;
            align-items: flex-end;
            gap: 2px;

            input {
                width: 200px;
                height: 30px;
                border: 2px solid black;
                border-radius: 40px;
                padding: 8px;
                font-size: 18px;
                font-weight: bold;
                line-height: 100%;
                text-align: center;
                background-color: rgba(255, 215, 0, 1);
                /* color: rgba(255, 215, 0, 0.6); */
                /* rgba(192, 192, 192, 0.85); */
            }

            .search-btn {
                width: 90px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 6px;
                background-color: rgb(192, 192, 192);
                color: rgb(255, 236, 128);
                border: 2px solid black;
                border-radius: 40px;
                font-weight: bold;
                font-size: 17px;
            }

            .filter-btn {
                width: 90px;
                height: 26px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 6px;
                background-color: rgb(192, 192, 192);
                border: 2px solid black;
                border-radius: 40px;
                font-weight: bold;
                font-size: 17px;
            }

            .filter-btn:hover {
                cursor: pointer;
                border: 2px solid rgb(255, 236, 128);
            }
            .search-btn:hover {
                cursor: pointer;
                border: 2px solid rgb(255, 236, 128);
            }

            img {
                width: 42px;
                height: 42px;
            }
        }
    }
}

main {
    width: 100%;
    height: 100%;
    min-height: calc(100vh + 60px - 50px - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;

    .load-txt {
        width: 300px;
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        font-size: 24px;
        border-radius: 40px;
        border: 6px solid black;
        background-color: rgba(0, 0, 0, 0.5);
        color: rgb(192, 192, 192);
    }

    .search-error {
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        font-size: 24px;
        border-radius: 40px;
        border: 6px solid black;
        background-color: rgba(0, 0, 0, 0.5);
        color: red;
    }

    .content {
        width: 100%;
        height: 100%;
        min-height: calc(100vh + 60px - 60px - 50px);
        background-image: url("./assets/img/pamo-bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;

        .pkmn-container {
            width: 100%;
            max-width: 1440px;
            height: fit-content;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 16px;
            padding: 8px;
            margin-top: 50px;

            button {
                width: 300px;
                border: none;
                border-radius: 20px;
                background-color: rgba(0, 0, 0, 0);

                .pkmn {
                    width: 300px;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    border: 3px solid black;
                    border-radius: 20px;
                    overflow: hidden;
                    color: rgb(240, 240, 215);

                    .card-header {
                        width: 100%;
                        height: 60px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                        padding: 16px;
                        background-color: rgba(0, 0, 0, 0.65);

                        p {
                            font-size: 14px;
                            font-weight: bold;
                        }

                        h2 {
                            font-size: 15px;
                        }
                    }

                    .pkmn-img {
                        width: 100%;
                        height: 200px;
                        border-top: 3px solid black;
                        border-bottom: 3px solid black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 4px 0;
                        /* overflow: hidden; */

                        .bg-circle {
                            width: 85%;
                            height: 95%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba(0, 0, 0, 0.3);
                            border-radius: 50%;
                            border: 2px solid black;
                            padding: 16px;
                            overflow: hidden;

                            img {
                                height: 210px;
                                object-fit: cover;
                                transform: translateY(-10px);
                            }
                        }
                    }

                    .pkmn-types {
                        width: 100%;
                        height: 60px;
                        background-color: rgba(0, 0, 0, 0.65);
                        display: flex;
                        justify-content: space-evenly;
                        padding: 8px;

                        img {
                            border: 2px solid black;
                            border-radius: 50%;
                        }
                    }
                }

                .pkmn:hover {
                    cursor: pointer;
                    border: 2px solid rgb(253, 225, 0);
                }
            }
        }

        .load-btn {
            width: 260px;
            height: 90px;
            border: 6px solid black;
            border-radius: 50%;
            padding: 8px;
            margin-top: 20px;
            font-size: 32px;
            font-weight: bold;
            background-color: rgba(0, 0, 0, 0.4);
            color: rgba(255, 222, 57, 0.927);
        }

        .load-btn:hover {
            cursor: pointer;
            border: 6px solid rgb(192, 192, 192);
        }
    }
}

.dialog.opened {
    width: 95%;
    max-width: 1000px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 40px;
    color: white;
    overflow: hidden;

    .dialog-header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 32px;
        border-bottom: 2px solid white;
        padding: 8px;
        z-index: 2;

        .header-content {
            width: 92%;
            display: flex;
            justify-content: center;
            align-items: center;

            .header-txt {
                width: 89%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                line-height: 120%;
                padding: 0 8px;

                h2 {
                    display: flex;
                    align-items: center;
                    font-size: clamp(
                        1.25rem,
                        calc(0.964rem + 1.429vw),
                        2.25rem
                    );
                }

                p {
                    display: flex;
                    align-items: center;
                    font-size: clamp(
                        1.13rem,
                        calc(0.946rem + 0.893vw),
                        1.75rem
                    );
                }
            }

            button {
                height: 32px;
                width: 40px;
                background-color: rgba(0, 0, 0, 0);
                border-style: none;
                border-radius: 50%;
                padding: 8px;
                display: flex;
                align-items: center;

                img {
                    height: 30px;
                    width: 32px;
                }
            }

            button:hover {
                cursor: pointer;
            }
        }

        .close-btn {
            color: white;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: rgba(0, 0, 0, 0);
            border-style: none;
            border-radius: 50%;
            padding: 8px;
            font-size: 24px;
        }
        .close-btn:hover {
            cursor: pointer;
        }
    }

    .dialog-img {
        width: 100%;
        height: clamp(9.375rem, calc(4.911rem + 22.321vw), 25rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid white;

        .pkmn-img {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .bg-circle {
                width: 65%;
                height: 90%;
                display: flex;
                align-items: center;
                justify-content: center;

                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 50%;
                padding: 8px;
                border: 2px solid black;
                overflow: hidden;

                img {
                    height: 120%;
                    object-fit: cover;
                    transform: translateY(-10px);
                }
            }
        }

        .pkmn-types {
            height: 0px;
            width: 100%;
            display: flex;
            justify-content: center;

            .typ1 {
                z-index: 2;
                transform: translateY(10px);
                position: absolute;
                left: auto;

                img {
                    height: 64px;
                    padding-right: 100px;
                }
            }

            .typ2 {
                z-index: 2;
                transform: translateY(10px);
                position: absolute;
                right: auto;

                img {
                    height: 64px;
                    margin-left: 100px;
                }
            }
        }
    }

    .dialog-data {
        width: 100%;
        height: 460px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;

        .stats {
            width: 50%;
            height: 100%;
            text-align: center;
            border: 2px solid white;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;

            h3 {
                height: 70px;
                font-size: clamp(2.25rem, calc(2.143rem + 0.536vw), 2.63rem);
                font-weight: bold;
                border-bottom: 2px solid white;
                border-collapse: collapse;
                padding: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            p {
                font-size: 36px;
            }
        }

        .abilities {
            width: 50%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.1);
            text-align: center;
            border: 2px solid white;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;

            h3 {
                height: 70px;
                font-size: clamp(1.75rem, calc(1.5rem + 1.25vw), 2.63rem);
                font-weight: bold;
                border-bottom: 2px solid white;
                border-collapse: collapse;
                padding: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            p {
                font-size: clamp(1.63rem, calc(1.446rem + 0.893vw), 2.25rem);
            }
        }
    }

    .dialog-filter {
        height: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        h2 {
            display: flex;
            justify-content: center;
            border-bottom: 2px white;
            padding: 8px;
            font-size: 38px;
            color: rgb(255, 224, 88);
        }

        .filter-inputs {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 8px;
            gap: 10px;

            input {
                height: 50px;
                width: 280px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 32px;
                font-weight: bold;
                border-radius: 40px;
                padding: 8px;
                background-color: rgba(192, 192, 192, 0.9);
            }
        }

        .filter-btn {
            width: 120px;
            padding: 8px;
            border-radius: 40px;
            font-weight: bold;
            font-size: 20px;
            background-color: rgba(255, 215, 0, 0.9);
        }
        .filter-btn:hover {
            cursor: pointer;
        }
    }
}

.footer {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;

    .footer-content {
        width: 100%;
        max-width: 1440px;
        color: rgb(240, 233, 184);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        font-size: 20px;

        a {
            color: rgb(240, 219, 52);
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
            cursor: pointer;
            background-color: yellow;
            color: black;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: 90px;
        justify-content: center;

        .header-content {
            flex-direction: column;

            .search-section {
                align-items: flex-end;
                justify-content: center;
                padding-bottom: 8px;

                input {
                    width: 150px !important;
                }
            }
        }
    }

    .pkmn-container {
        margin-top: 70px !important;
    }

    .dialog-img {
        .pkmn-types img {
            transform: translateY(-42px) !important;
        }
    }

    .dialog-header {
        text-align: center;

        .header-txt {
            flex-direction: column;
        }
    }
}
